<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}TaalApp{% endblock %}</title>

    {% block stylesheets %}

        {% stylesheets '../app/Resources/public/css/bootstrap.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">
    <main>
        {% block main %}
            <h1 class="page-header">{% block page_title %}{{ block('title') }}{% endblock %}</h1>
            {% block body %}
            {% endblock %}
        {% endblock %}
    </main>
</div>

{% block javascripts %}
    {% javascripts '../app/Resources/public/js/jquery-1.11.2.js' '../app/Resources/public/js/bootstrap.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>