#categories {
  .category {
    background: black;
    color: white;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    margin: 15px 0;
    display: block;
    position: relative;

    .editBtn {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      background: white;
      color: black;
      border: 0;
      font-size: 1.5em;
      padding: 5px 10px;

      &:hover {
        color: white;
        background: black;
      }
    }

    &:hover, &:focus, &:active {
      text-decoration: none;

      .editBtn {
        display: block;
      }
    }

    .category-icon {
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      text-align: center;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
      }

      span {
        position: absolute;
        top: 40%;
        left: 0;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 3em;
      }
    }

    .category-name h2 {
      font-size: 1.5em;
      text-align: center;
      font-weight: bold;
      margin-top: 0;
    }

    &.add {
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }

      &:active, &:focus {
        opacity: 1;
      }
    }
  }
}

#icons-container {
  margin: 15px 0;
  position: relative;

  &.loading:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.15) url('/bundles/app/images/preloader.gif') no-repeat center center;
  }
}

#icons {
  height: 250px;
  overflow-y: scroll;
  border: 1px solid #f1f1f1;
  padding: 0 15px;


  .icon {
    margin: 15px 0;
    background: black;
    display: block;
    color: white;
    padding: 15px;
    border-radius: 10px;
    opacity: 0.75;
    cursor: pointer;
    text-decoration: none;

    h2 {
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      color: inherit;
      margin: 10px -10px 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:hover {
      opacity: 1;
    }

    &.selected {
      opacity: 1;
      border: 5px solid darkred;
    }
  }
}